* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h6{
    color: #76dbe2;
    font-weight: 600;
    font-size: 3.5rem;
  
    letter-spacing: .5em;
    margin-top: -2rem;
    margin-bottom: 2rem;
    text-align: center;
    text-shadow: -6px 5px rgb(213, 252, 255);
  }
  h1 {
    color: #76dbe2;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
    margin-bottom:  -1rem;
    letter-spacing: .5em;
    text-shadow: -6px 5px rgb(213, 252, 255);
    
    text-align: center;
  }
  h2,
  p {
    color: #0749a7;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
  }
  a {
    color: #0749a7;
    font-weight: 500;
    opacity: 0.8;
    text-align: center;
  }
  
  h3 {
    color: #eba461;
    font-weight: 600;
    opacity: 0.8;
    text-align: center;

  }
  h4 {
    color: #eba461;
    font-weight: 600;
    opacity: 0.8;
    text-align: center;
/*     text-shadow: -1px 1px rgb(8, 0, 0); */
  }
  
  main {
    font-family: "Poppins", sans-serif;
    height: 300vh;
    background: linear-gradient(to right top, #9afde9, #e4fffa);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
   height: 290vh;
    margin-top: -3rem;
   
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 60rem;
    width: 60rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: -15%;
    right: 3%;
  }
  .circle2 {
    top: 90%;
    left: 2%;
  }


  
  .team {
    flex: 2;
  }
  

  .team-cards{
   /*  flex: 2; */
    height: 60%;
  }
  .doc-cards{
  /*   flex: 2; */
    height: 20%;
  }
  .logo-cards{
    margin-top: 5rem;
  /*   flex: 2; */
    height: 10%;
  }
  
  .status {
    margin-bottom: 3rem;
  }
  
  .team-desc {
    background: linear-gradient(
      to left top,
      rgba(203, 241, 247, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2rem;
  }

  .Logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
 
  }
  .logo-link img:hover{
    transform:scale(1.2);
  }

  .team-desc:hover {
  transform:scale(1.1);
}

  .team {
    margin: 5rem;
    float: inline-start;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
    width: 80%;
  }
  
  .card {
    max-width: 100%;
  /*   display: flex; */
    background: linear-gradient(
      to left top,
      rgba(203, 241, 247, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }


/* ! COLOR CODED CARDS */
.manager-card {
  max-width: 100%;
/*   display: flex; */
background:url(https://img.icons8.com/nolan/128/overwolf--v2.png) no-repeat,  linear-gradient(
    to left top,
    rgba(245, 193, 172, 0.8),
    rgba(169, 250, 246, 0.5)
  );
  background-position: 10% 50%;

  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;

}

.egnineer-card {
  max-width: 100%;
/*   display: flex; */
background:url(https://img.icons8.com/nolan/128/pixel-gun-3d.png) no-repeat, linear-gradient(
    to left top,
    rgba(203, 241, 247, 0.8),
    rgba(247, 243, 5, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
  background-position: 10% 50%;
}


.intern-card {
  max-width: 100%;
/*   display: flex; */
background:url(https://img.icons8.com/nolan/128/desura.png) no-repeat,
  linear-gradient(
    to left top,
    rgba(213, 255, 205, 0.8),
    rgba(215, 174, 248, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;

  background-position: 10% 50%;
}



.manager-card:hover {
  transform:scale(1.1);
}


.egnineer-card:hover {
  transform:scale(1.1);
}


.intern-card:hover {
  transform:scale(1.1);
}




/* COLOR CODED CARDS END */




  
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  .emp-photo{
    display: flex;
    flex-direction: column;
  }
  .container{
    margin-top: 4rem;
    height: 20%;
  }
  .container img{
   height: 250px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    ;
}
  
  .title {
    font-weight: bold;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .copyright {
 background-color: rgb(167, 210, 245);
 line-height: 2.5rem;
 color: #ffffff;
 font-weight: 600;
 opacity: 0.8;
 text-align: center;

  }




  /* DOC CARDS */


  .doc-card {
    width: 24%;
    height: 80%;
    float: left;
    background: linear-gradient(
      to left top,
      rgba(203, 241, 247, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 3rem 2rem;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    text-align: center;
  }


  .doc-card:hover {
    transform:scale(1.1);
  }
  

  .resume-link {
   text-align: center;
   width: 100%;
  }
  
  .resume-link img{
    height: 55px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  }

  .resume-link img:hover {
    transform:scale(1.3);
  }


/* DOCUMENT ICONS */

.PDF{
  width: 100%;
  height: 120px;
  background-image: url('https://img.icons8.com/nolan/64/pdf.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #22dfe1;
}

.REPO{
  width: 100%;
  height: 120px;
  background-image: url('https://img.icons8.com/nolan/64/download-graph-report.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #22dfe1;
}
.MEDIA{
  width: 100%;
  height: 120px;
  background-image: url('https://img.icons8.com/nolan/64/skip-to-start.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #22dfe1;
}


.WORD{
  width: 100%;
  height: 120px;
  background-image: url('https://img.icons8.com/nolan/64/ms-word.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #22dfe1;
}

.EXCEL{
  width: 100%;
  height: 120px;
  background-image: url('https://img.icons8.com/nolan/64/ms-excel.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #22dfe1;
}



  